$font-stack: Verdana, sans-serif;
$primary-color: #ffffff;
$text-transform: uppercase;
$margin-top: 1rem;
$font-size: 0.6rem;

@mixin flexy($display: flex) {
    display: $display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin rowy($display: flex) {
    display: $display;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 0.4rem;
}

@mixin size($width: 2.4em, $height: auto) {
    width: $width;
    height: $height;
}

@mixin btn ($color: #2148C0 , $background-color: #FFFFFF) {
    color: $color;
    background-color: $background-color;
}

@mixin border($border: 1px solid #FFFFFF, $border-radius: 9px) {
    border: $border;
    border-radius: $border-radius;
}

body {
  background-image: url('/assets/icons/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: $font-stack;
  color: $primary-color;
}

.login {
    @include flexy;
    margin-top: 10rem;

    .logo {
        @include size($width: 9em);
    }

    .credentials {
        margin-top: $margin-top;

        .user img, .password img {
            @include size($width: 2.4em, $height: 2.4em);
        }

        .user, .password {
        @include size($width: 20em);
         @include rowy;
         text-transform: $text-transform;
         @include border;
         margin: 1rem;
         font-size: $font-size;
        }

    }

    button {
        @include size($width: 20em);
        @include btn;
        text-transform: $text-transform;
        margin-top: $margin-top;
        @include border;
        font-size: $font-size;
        cursor: pointer;
    }

    p {
        cursor: pointer;
    }

    input[type="text"],
    input[type="password"] {
    background: transparent; 
    border: none;
    border-radius: 9px;
    outline: none; 
    color: $primary-color;
    text-transform: $text-transform;
}   
    
}


/* MEDIA QUERRIES */

$small-screen: 640px;
$medium-screen: 768px;


@media (min-width: $small-screen) {
    .login .logo {
        @include size($width: 11em);
    }

    .login .credentials .user{
        @include size($width: 30em);
    }

    .login .credentials .password {
        @include size($width: 30em);
    }

    .login button {
        @include size($width: 30em);
    }

    .login p {
        padding-left: 8rem;
    }

    .login input[type="text"],
    input[type="password"] {
        @include size($width: 20em);
    }
}

@media (min-width: $medium-screen) {
    .login .logo {
        @include size($width: 13em);
    }

    .login .credentials .user{
        @include size($width: 40em);
    }

    .login .credentials .password {
        @include size($width: 40em);
    }

    .login button {
        @include size($width: 40em);
    }

    .login p {
        padding-left: 15rem;
    }

    .login input[type="text"],
    input[type="password"] {
        width: 22rem;
    }
}
