$font-stack: Verdana, sans-serif;
$primary-color: #ffffff;
$text-transform: uppercase;
$margin-top: 1rem;
$font-size: 0.6rem;
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1280px;
